.homeback{
    background-color: rgb(232, 232, 232);
    background-image: url('../public/Images/Background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center,top;
}
.editnavbar{
    padding-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}
.editadssection{
    margin: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.paintproductcards{
    padding: 30px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.paintcardimg:hover{
    transform: scale(1.02);
}
.searchabovetext{
    color: #ffffff;
    text-align: center;
}
.homeproducttitle{
    text-align: center;
    font-weight: bold;
    color: #333333;
    font-size: 45px;
    padding-top: 20px;
    letter-spacing: -1px;
}
.homeproductsubtitle{
    text-align: center;
    color: #676767;
    font-size: 20px;
    margin-top: -8px;
}
.exploremorebtn {
    display: block; /* Set display to block */
    width: fit-content; /* Adjust width to fit content */
    margin: 0 auto; /* Center horizontally */
    padding: 13px 28px; /* Adjust padding */
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0) !important;
    color: #2f4649 !important;
    border-width: 4px !important;
    border-image: linear-gradient(to right, #214c4f, #40767d) 1; /* Specify the gradient */
    font-weight: bold;
}
.exploremorebtn:hover{
    background-image: linear-gradient(to right, #214c4f, #40767d);
    color: white !important;
}
.exploremorebtn:active{
    background-image: linear-gradient(to right, #a1a1a1, #d9d9d9);
    color: #333333 !important;
    border-width: 4px !important;
    border-image: linear-gradient(to right, #a1a1a1, #d9d9d9) 1;
}
.homeproductssection{
    background-color: #ececec;
    padding-bottom: 200px;
    padding-top: 20px;
}
.productssectionline{
    background-color: #bebebe;
    height: 0.5px;
    margin: 0 auto;
    border-radius: 200px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.projectshomesection{
    background-image: url('../public/Images/projectsBackground.jpg');
    /*height: 800px;*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center,top;
    padding-bottom: 100px;
}

.projectcards{
    padding-right:40px !important;
    padding-left: 40px !important;
}
.projectssectiontop{
    height: 150px;
}
.projectssection{
    background-color: rgba(255, 255, 255, 0.6);
    /*background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));*/
    backdrop-filter: blur(5px);
    margin-right: 80px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
}
.projectsectiontitle1{
    color: #fc6c41;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.8);
    /*background-image: linear-gradient(to bottom, #fc6c41, #3d3e40); !* Adjust the colors as needed *!*/
    /*-webkit-background-clip: text; !* This ensures the text is filled with the gradient *!*/
    /*color: transparent;*/
    font-size: 60px;
    font-weight: bold;
    margin-left: -2px;
    padding-top: 10px;
}
.projectsectiontitle2{
    color: #333333;
    font-size: 29px;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 10px;
}
.viewprojectsbtn{
    color: #333333 !important;
    background-image: linear-gradient(to right, #fc6c41, #faad73);
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}
.viewprojectsbtn:active {
    background-image: linear-gradient(to right, rgb(161, 161, 161), #d9d9d9) !important;
    border-color: transparent !important;
}
.viewprojectsbtn:hover{
    color: #333333 !important;
    background-image: linear-gradient(to right, #faad73, #fc6c41);
}
.td {
    width: 20%; /* Set each column to one-third of the table width */
}
.quotationhomesection{
    margin-top: 40px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    /*background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));*/
    backdrop-filter: blur(5px);
    border-color: white;
    border-width: 1px;
}
.quotationsectiontitle{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #333333;
}
.quotationsectiontext{
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #151515;
}
.calculatebtn{
    display: block; /* Set display to block */
    width: fit-content; /* Adjust width to fit content */
    margin: 0 auto;
    color: #333333 !important;
    background-image: linear-gradient(to right, #fc6c41, #faad73);
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}
.calculatebtn:active {
    background-image: linear-gradient(to right, rgb(161, 161, 161), #d9d9d9) !important;
    border-color: transparent !important;
}
.calculatebtn:hover{
    color: #333333 !important;
    background-image: linear-gradient(to right, #faad73, #fc6c41);
}
.quotationgeneratorline{
    background-color: #969696;
    height: 2px;
    width: 400px;
    margin: 0 auto;
    border-radius: 200px;
    margin-bottom: 10px;
}




.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.animatedbtn1 {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: 4px solid #214c4f;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    color: #214c4f;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 400ms ease-in-out;
    padding-left: 16px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animatedbtn1:hover {
    width: 170px;
    background-image: linear-gradient(to right, #214c4f, #40767d);
    /*border: 2px  #777;*/
    margin: 0;
    color: white;
    border: none;
    padding-left: 0px;
}

.animatedbtn1:focus {
    border: none;
}

.animatedbtn1 span {
    color: transparent;
    transition: 500ms;
    margin-left: -20px;
}

.animatedbtn1:hover span {
    color: #ffffff;
    margin-left: 0;
}

.container2 {
    display: flex;
    justify-content: center;
}
.animatedbtn2 {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: 4px solid #fc6c41;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    color: #333333;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: 400ms ease-in-out;
    padding-left: 16px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.animatedbtn2:hover {
    width: 170px;
    background-image: linear-gradient(to right, #fc6c41, #faad73);
    /*border: 2px  #777;*/
    margin: 0;
    color: #333333;
    border: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.animatedbtn2:focus {
    border: none;
}

.animatedbtn2 span {
    color: transparent;
    transition: 500ms;
    margin-left: -20px;
}

.animatedbtn2:hover span {
    color: #333333;
    margin-left: 0;
}