.full-side{
    /*background: rgba(138, 73, 73, 0.42);*/
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0.5px;


}
.full-snav{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 20px;
    margin-right: 20px;
    /* From https://css.glass */
    background: rgba(247, 238, 238, 0.21);
    border-radius: 30px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(19.7px);
    -webkit-backdrop-filter: blur(19.7px);

}
.nav-all-item{
    /* From https://css.glass */



}
.nav-item{
    /*background-color: black;*/
    margin-top: 20px;
    /*margin-bottom: 100px;*/
    border-radius: 50px;

}