.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  }
  
  .signupform {
    width: fit-content;
    margin: 20px;
    min-width: 350px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px);
    border-radius: 10px;
  }

  .signupMessage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px; 
    color: whitesmoke;
    margin-left: 50px;
    margin-right: 100px;
    padding-bottom: 100px;
  }
.signinupheading{
  font-weight: bold;
  font-size: 40px;
  color: #fc6c41;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  text-align: center;
}


.loginbtn{
  color: #333333 !important;
  margin-top: 20px;
  background-image: linear-gradient(to right, #fc6c41, #faad73);
}
.loginbtn:active {
  background-image: linear-gradient(to right, rgb(161, 161, 161), #d9d9d9) !important;
  border-color: transparent !important;
}
.loginbtn:hover{
  color: #333333 !important;
  background-image: linear-gradient(to right, #faad73, #fc6c41);
}

.homelogo {
  height: 200px;
}

.signup-link {
  color: #000000;
}

.linksignup {
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.linksignup:hover {
  color: #333333;
  text-shadow: none;
}







.registerpageback{
  background-color: #ececec !important;
}
.loginback{
  background-image: url('../public/Images/loginback.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:  top;
  height: fit-content;
}
.loginheadinglogo{
  height: 180px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 40px;
}
.loginheading{
  text-align: center;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.registergif{
  width: 400px;

}
.logingifandform {
  display: flex;
  justify-content: center; /* Centers the divs horizontally within the container */
  align-items: center;    /* Centers the content vertically within each div */
  gap: 20px;
}

.editlogingif,
.editloginformdiv {
  display: flex;
  justify-content: center; /* Centers the content horizontally within the div */
  align-items: center;    /* Centers the content vertically within the div */
}

@media  (max-width: 400px) {
  .logingifandform  {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 80%;
  }
  /*.editlogingif{*/
  /*  margin-bottom: -80px;*/
  /*  margin-top: -80px;*/
  /*}*/
}
@media (min-width: 400.01px) and (max-width: 770px) {
  .logingifandform  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*.editlogingif{*/
  /*  margin-bottom: -80px;*/
  /*  margin-top: -80px;*/
  /*}*/
}